{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <a href="{{ path('hotel_list') }}">
                        <i class="fa fa-arrow-circle-left" style="font-size: 30px;"></i>

                    </a>

                </div>



                <div class="row" style="display: flex;align-items: center;justify-content: center;">

                    <div class="col-md-6 col-lg-3">

                        <div class="card m-b-20">
                            <img class="card-img-top img-fluid" src="{{ asset('uploads/hotel_image/'~image) }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Detail Hotel :  {{id}}</h4>
                                <p class="card-text">description :  {{description  }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">nom :  {{nom}}</li>
                                <li class="list-group-item">address:  {{address}}</li>
                                <li class="list-group-item">etoile:  {{etoile}}</li>
                                <li class="list-group-item">nbrChambre:  {{etoile}}</li>
                            </ul>



                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}