{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">



                <div class="row">

                    <div class="col-12">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <h4  style="margin-bottom: 30px;margin-top: 20px" class="m-t-0 header-title">Liste des Réservations</h4>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Numéro</th>
                                    <th>Type de Pension</th>
                                    <th>Arrivée</th>
                                    <th>Sortie</th>
                                    <th>Prix Total</th>
                                    <th>Numéro Chambre</th>
                                    <th>Détails</th>

                                </tr>
                                </thead>
                                <tbody>

                              {% for r in  res %}
                                    <tr>

                                        <td>#</td>
                                        <td>{{ r.typePension }}</td>
                                        <td>{{ r.darrive|date('d-m-Y') }}</td>
                                        <td>{{ r.dquitte|date('d-m-Y') }}</td>
                                        <td>{{ r.prixTotal }} DT</td>
                                        <td>n° {{ r.chambre.getNumChambre() }}</td>


                                     {#  <td><a href="{{ path('suppression',{'id':p.id}) }}"><i class="fa fa-trash" style="color:#00aff0;font-size:20px"></i> </a> </td> #}
                                     {# <td><a href="{{ path('detailhotel',{'id':r.id}) }}"><i class="fa fa-list" style="color:#00aff0;font-size:20px"></i> </a> </td> #}

                                        <td>
                                            {% if r.etat  == 0 %}
                                            <a href="{{ path('aaaa',{'idrs':r.id}) }}" class="btn btn-warning">En cours</a>
                                            {% elseif r.etat == 1 %}
                                            <a href="{{ path('aaaa',{'idrs':r.id}) }}" class="btn btn-success">Accepter</a>

                                        </td>
                                        {% endif %}

                                    </tr>


                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center m-4">

            {{ knp_pagination_render(res,'paginator.html.twig') }}

        </div>


    </div>


{% endblock %}