{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
               <div class="content-wrapper">
                <h3 class="page-heading mb-4">Commande</h3>

                <div class="row mb-2">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Table Commande</h5>
                                <div class="table-responsive">
                                    <a  style="margin-left: 300px" href="{{ path('StatCommande') }}"><button style="margin-bottom: 20px" type="button" class="btn btn-outline-info"> Statistique</button></a>
                                    <table class="table center-aligned-table">

                                        <thead>
                                        <tr class="text-primary">

                                            <th>Id_Commande</th>
                                            <th>Id_Produit</th>
                                            <th>Nom Produit</th>
                                            <th>Quantite</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for lignecommande in lignecommandes %}
                                            <tr class="">

                                                <td><label class="badge badge-success">{{ lignecommande.getIdCommande() }}</label></td>
                                                <td>{{ lignecommande.IdProduit}}</td>
                                                <td>{{ lignecommande.IdProduit.nom}}</td>
                                                <td>{{ lignecommande.quantitydemande }}</td>

                                                <td>{{ include('ligne_commande/form_delete.html.twig') }}</td>

                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">no records found</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
