{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


    <div class="row">
    <div class="col-12">
    <div class="card-box">

    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">

            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
            </div>
    </div>
    <h4 class="m-t-0 header-title">List des avis </h4>

        
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hotel</th>
                <th>AvisScore</th>
                <th>Description</th>
                <th>Crée par</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.hotel.nom }}</td>
                <td>{{ avi.avisScore }}</td>
                <td>{{ avi.description }}</td>
                <td>{{avi.utilisateur.name}}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}">detail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">liste des avis vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </br>
     </br>


         <p class="text-muted font-14 m-b-20">
            <a href="{{ path('app_avis_stats') }}">        
                <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Voir les statistiques</button>                          
        
            </a>
         </p>
{% endblock %}
