{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}

    <!-- partial -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">


            <div class="row">

                <div class="col-12">
                    <div class="card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

            <!-- partial -->
            <div class="content-wrapper">
                <h3 class="page-heading mb-4">Commande</h3>

                <div class="row mb-2">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title mb-4">Table Commande</h5>
                                <div class="table-responsive">
                                    <a href="{{ path('commande_list') }}"><button  type="button" class="btn btn-outline-info"> Imprimer</button></a>
                                    <a href="{{ path('sortprix') }}"><button type="button" class="btn btn-outline-info">tri</button></a>
                                    <table class="table center-aligned-table">
                                        <thead>
                                        <tr class="text-primary">

                                            <th>Etat</th>
                                            <th>Date</th>
                                            <th>Prix Total</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for commande in commandes %}
                                            <tr class="">

                                                <td><label class="badge badge-success">{{ commande.etatcommande ? 'livrer' : 'non livrer' }}</label></td>
                                                <td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d') : '' }}</td>
                                                <td>{{ commande.prixtotal }}</td>

                                                <td>{{ include('commande/form_delete.html.twig') }}</td>
                                                <td><a href="" class="btn btn-danger btn-sm">livre</a></td>

                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">no records found</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                        <tbody id="search">
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
                <div>



{% endblock %}
