<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">

        <title>Adminto - Responsive Admin Dashboard Template</title>
        <link href="{{ asset('assets/plugins/fileuploads/css/dropify.min.css') }}" rel="stylesheet" type="text/css" />

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <script src="{{ asset('assets/js/modernizr.min.js') }}"></script>
{% block stylesheets %}


    {% endblock %}




        <!-- jQuery  -->

        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/detect.js') }}"></script>
        <script src="{{ asset('assets/js/fastclick.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
        <script src="{{ asset('assets/js/waves.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.nicescroll.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/jquery-knob/excanvas.js') }}"></script>
        <script src="{{ asset('assets/plugins/jquery-knob/jquery.knob.js') }}"></script>
        <script src="{{ asset('assets/plugins/morris/morris.min.js') }}"></script>

        <script src="{{ asset('assets/plugins/raphael/raphael-min.js') }}"></script>
        <script src="{{ asset('assets/pages/jquery.dashboard.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.core.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.app.js') }}"></script>
        <script src="{{ asset('assets/plugins/fileuploads/js/dropify.min.js') }}"></script>


<<<<<<< HEAD

=======
    {% endblock %}
>>>>>>> origin/finale-integer
</head>
<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="{{ path('home') }}" class="logo"><span>Admin<span>to</span></span><i class="mdi mdi-layers"></i></a>
        </div>

        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <!-- Page title -->
                <ul class="nav navbar-nav list-inline navbar-left">
                    <li class="list-inline-item">
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    <li class="list-inline-item">
                        <h4 class="page-title">Dashboard</h4>
                    </li>
                </ul>

                <nav class="navbar-custom">

                    <ul class="list-unstyled topbar-right-menu float-right mb-0">

                        <li>
                            <!-- Notification -->
                            <div class="notification-box">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a href="javascript:void(0);" class="right-bar-toggle">
                                            <i class="mdi mdi-bell-outline noti-icon"></i>
                                        </a>
                                        <div class="noti-dot">
                                            <span class="dot"></span>
                                            <span class="pulse"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Notification bar -->
                        </li>

                        <li class="hide-phone">
                            <form class="app-search">
                                <input type="text" placeholder="Search..."
                                       class="form-control">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>

                    </ul>
                </nav>
            </div><!-- end container -->
        </div><!-- end navbar -->
    </div>
    <!-- Top Bar End -->



    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">

            <!-- User -->
            <div class="user-box">
                <div class="user-img">
                    <img src="assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail img-responsive">
                    <div class="user-status offline"><i class="mdi mdi-adjust"></i></div>
                </div>
                {% if app.user !=null %}
                <h5><a href="#">{{ app.user.name }}</a> </h5>
                {% endif %}
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" >
                            <i class="mdi mdi-settings"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="#" class="text-custom">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End User -->

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul>
                    <li class="text-muted menu-title">Navigation</li>

                    <li class="has_sub">
                        <a  href="{{ path('hotel_list') }}" class="waves-effect"><i class="mdi mdi-texture"></i><span class="badge badge-warning pull-right">7</span><span> Gestion Hotels </span> </a>
                        <ul class="list-unstyledtyled">

                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="{{path('listeChambre') }}"  class="waves-effect"><i class="mdi mdi-view-list"></i> <span>Gestion Chambres </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">

                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="{{path('reservationADMIN') }}" class="waves-effect"><i class="mdi mdi-chart-donut-variant"></i><span>Gestion Reservation</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">

                        </ul>
                    </li>




                    <li>
                        <a href="{{ path('volList') }}" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Gestion Vol </span> </a>
                    </li>
                    <li>
                        <a href="{{ path('voiture_list') }}" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Gestion Voiture </span> </a>
                    </li>

                    <li>
<<<<<<< HEAD
                        <a href="typography.html" class="waves-effect"><i class="mdi mdi-format-font"></i> <span> Gestion shop</span> </a>
=======
                        <a href="{{ path('product_listaymen') }}" class="waves-effect"><i class="mdi mdi-format-font"></i> <span>Gestion Produit</span> </a>
>>>>>>> origin/finale-integer
                    </li>

                    <li class="has_sub">
                        <a href="{{ path('commande_index') }}"  class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Gestion Commande</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">

                        </ul>
                    </li>

<<<<<<< HEAD
                    <li class="has_sub">
                        <a  href="{{ path('hotel_list') }}" class="waves-effect"><i class="mdi mdi-texture"></i><span class="badge badge-warning pull-right">7</span><span> Gestion des hotels </span> </a>
                        <ul class="list-unstyledtyled">
                            <li><a href="form-elements.html">General Elements</a></li>
                            <li><a href="form-advanced.html">Advanced Form</a></li>
                            <li><a href="form-validation.html">Form Validation</a></li>
                            <li><a href="form-wizard.html">Form Wizard</a></li>
                            <li><a href="form-fileupload.html">Form Uploads</a></li>
                            <li><a href="form-wysiwig.html">Wysiwig Editors</a></li>
                            <li><a href="form-xeditable.html">X-editable</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="{{path('listeChambre') }}" class="waves-effect"><i class="mdi mdi-view-list"></i> <span> liste deschambres </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="tables-basic.html">Basic Tables</a></li>
                            <li><a href="tables-datatable.html">Data Table</a></li>
                            <li><a href="tables-responsive.html">Responsive Table</a></li>
                            <li><a href="tables-editable.html">Editable Table</a></li>
                            <li><a href="tables-tablesaw.html">Tablesaw Table</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-chart-donut-variant"></i><span> Charts </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="chart-flot.html">Flot Chart</a></li>
                            <li><a href="chart-morris.html">Morris Chart</a></li>
                            <li><a href="chart-chartist.html">Chartist Charts</a></li>
                            <li><a href="chart-chartjs.html">Chartjs Chart</a></li>
                            <li><a href="chart-other.html">Other Chart</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{path('reclamationadmin') }}"  class="waves-effect"><i class="mdi mdi-calendar"></i><span> Reclamtions et avis </span></a>
                    </li>

                    <li>
                        <a href="inbox.html" class="waves-effect"><i class="mdi mdi-email"></i><span class="badge badge-purple pull-right">New</span><span> Mail </span></a>
=======

                    <li>
                        <a href="{{ path('lignecommande') }}" class="waves-effect"><i class="mdi mdi-calendar"></i><span>Gestion Ligne commande</span></a>
                    </li>

                    <li>
                        <a href="inbox.html" class="waves-effect"><i class="mdi mdi-email"></i><span class="badge badge-purple pull-right">New</span><span>Gestion Reclamation </span></a>
>>>>>>> origin/finale-integer
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-google-pages"></i><span>Gestion Avis</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="page-starter.html">Starter Page</a></li>
                            <li><a href="page-login.html">Login</a></li>
                            <li><a href="page-register.html">Register</a></li>
                            <li><a href="page-recoverpw.html">Recover Password</a></li>
                            <li><a href="page-lock-screen.html">Lock Screen</a></li>
                            <li><a href="page-confirm-mail.html">Confirm Mail</a></li>
                            <li><a href="page-404.html">Error 404</a></li>
                            <li><a href="page-500.html">Error 500</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="{{ path('app_logout') }}" class="waves-effect"><i class="mdi mdi-layers"></i><span>Logout </span> <span class="menu-arrow"></span></a>

                    </li>



                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -->




            <div class="clearfix"></div>

        </div>

    </div>
    <!-- Left Sidebar End -->

    <footer class="footer text-right">
        2016 - 2018 © Adminto. Coderthemes.com
    </footer>

</div>
{% block body %}{% endblock %}
<<<<<<< HEAD
    {% block javascripts %}
    {% endblock %}
=======


>>>>>>> origin/finale-integer
</body>
</html>