{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">
                    <a href="{{ path('users_list') }}">
                        <i class="fa fa-arrow-circle-left" style="font-size: 30px;"></i>

                    </a>

                </div>
                <div class="row" style="display: flex;align-items: center;justify-content: center;">

                    <div class="col-md-6 col-lg-3">

                        <div class="card m-b-20">
                            <img class="card-img-top img-fluid" src=" {{  asset('assets/images/gallery/2.jpg')}}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Detail Utilisateur:  {{id}}</h4>


                            </div>
                            <div class="row" style="display: flex;align-items: center;justify-content: center;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">nom :  {{ name}}</li>
                                <li class="list-group-item">prenom:  {{email}}</li>
                                <li class="list-group-item">telephone:  {{password}}</li>



                            </ul>



                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}