{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

<<<<<<< Updated upstream

<<<<<<<< Updated upstream:templates/users/listUsers.html.twig
                <div class="row">
========

            <div class="row">
>>>>>>>> Stashed changes:templates/hotel/listehotel.html.twig
=======
                <div class="row">
>>>>>>> Stashed changes

                    <div class="col-12">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
<<<<<<< Updated upstream
<<<<<<<< Updated upstream:templates/users/listUsers.html.twig
=======
>>>>>>> Stashed changes
                            <h4 class="m-t-0 header-title">List Utilisateur</h4>
                            <p class="text-muted font-14 m-b-20">

                                <a href="{{ path('registration') }}">
                                    <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Ajouter Utilisateur</button>                            </p>
<<<<<<< Updated upstream
========
                            <h4 class="m-t-0 header-title">List Hotel</h4>
                            <p class="text-muted font-14 m-b-20">

                                <a href="{{ path('ajoutHotel') }}">
                                    <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Ajouter Hotel</button>                            </p>
>>>>>>>> Stashed changes:templates/hotel/listehotel.html.twig
=======
>>>>>>> Stashed changes

                            </a>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
<<<<<<< Updated upstream
<<<<<<<< Updated upstream:templates/users/listUsers.html.twig
=======
>>>>>>> Stashed changes
                                    <th>Email</th>

                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                    <th>Detail</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in  user %}
                                    <tr>

                                        <td>{{ p.name }}</td>

                                        <td>{{ p.email }}</td>

                                        <td><a href="{{ path('update',{'id':p.id}) }}"><i class="fa fa-pencil" style="color:#ff5b5b;font-size:20px"></i> </a> </td>
                                        <td><a href="{{ path('suppression',{'id':p.id}) }}"><i class="fa fa-trash" style="color:#00aff0;font-size:20px"></i> </a> </td>
                                        <td><a href="{{ path('detailUsers',{'id':p.id}) }}"><i class="fa fa-list" style="color:#0eac5c;font-size:20px"></i> </a> </td>
<<<<<<< Updated upstream
========
                                    <th>adresse</th>
                                    <th>etat</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                    <th>details</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for p in  hotels %}
                                    <tr>

                                        <td>{{ p.nom }}</td>
                                        <td>{{ p.address }}</td>
                                        <td>{{ p.etat }}</td>
                                        <td><a href="{{ path('modification',{'id':p.id}) }}"><i class="fa fa-pencil" style="color:#ff5b5b;font-size:20px"></i> </a> </td>

                                        <td><a href="{{ path('suppression',{'id':p.id}) }}"><i class="fa fa-trash" style="color:#00aff0;font-size:20px"></i> </a> </td>
                                        <td><a href="{{ path('detailhotel',{'id':p.id}) }}"><i class="fa fa-list" style="color:#00aff0;font-size:20px"></i> </a> </td>
>>>>>>>> Stashed changes:templates/hotel/listehotel.html.twig
=======
>>>>>>> Stashed changes

                                    </tr>


                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}