{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <a href="{{ path('users_list') }}">
                        <i class="fa fa-arrow-circle-left" style="font-size: 30px;"></i>

                    </a>

                </div>
                <div class="row" style="display: flex;align-items: center;justify-content: center">
                    <div class="col-md-6">
                        <div class="card-box">
                            <h4 class="m-t-0 m-b-30 header-title">Modifier utilisateur</h4>
                            {{form_start(f)}}

                            <div class="form-group">
                                <label for="name">Nom</label>
                                {{ form_widget(f.nom, {'attr':{'class':'form-control'}})}}
                            </div>
                            <div class="form-group">
                                <label for="name">Prenom</label>
                                {{ form_widget(f.prenom, {'attr':{'class':'form-control'}})}}
                            </div>

                            <div class="form-group">
                                <label for="name">telephone</label>
                                {{ form_widget(f.telephone, {'attr':{'class':'form-control'}})}}
                            </div>

                            <div class="form-group">
                                <label for="name">adresse</label>
                                {{ form_widget(f.adresse, {'attr':{'class':'form-control'}})}}

                            </div>
                            <div class="form-group">
                                <label for="name">mail</label>
                                {{ form_widget(f.mail, {'attr':{'class':'form-control'}})}}

                            </div>
                            <div class="form-group">
                                <label for="name">role</label>
                                {{ form_widget(f.role, {'attr':{'class':'form-control'}})}}
                            </div>
                            <div class="form-group">
                                {{ form_widget(f.Submit,{'attr':{'class':'btn btn-pink btn-rounded w-md waves-effect waves-light m-b-5'}}) }}
                            </div>
                            {{ form_end(f) }}

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>




{% endblock %}